<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <style>
        body {
            background-color: #DC143C;
        }
        h1 {
            text-align: center;
            color: white;
            font-weight: bold;
        }
        form {
            margin: 0 auto; /* center the form */
            max-width: 300px;
            padding: 20px;
        }
        input {
            margin-bottom: 1em; /* add one line space between each input */
        }
    </style>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your username"><br>
        <input type="password" name="password" placeholder="Create a password"><br>
        <input type="password" name="password1" placeholder="Confirm your password"><br>
        <input type="submit">
        <h2> 
    </form>
         {% for msg in messages %}
    {{msg}} <br>
    {% endfor %}
    </h2>
</body>
</html>
